@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');

h1 {
    font-family: 'Syne Tactile', cursive;
    font-weight: bold;
    color: rgb(169, 213, 252);
    font-size: 3rem;
}